<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="assets/img/ngx-bootstrap.svg" class="logo"></a>
            <span class="navbar-brand">Exemplo Angular com  Bootstrap </span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Nossa Empresa <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Portfolio</a></li>
            <li dropdown>
                <a dropdownToggle class="dropdown-toggle" role="button">Outros Assuntos <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li><a href="#">Clientes</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Fornecedores</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Atacadistas</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Varejistas</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Botao com tooltip
    </button>

    <button type="button" class="btn btn-info" (click)="openModal(template)">Abrir modal</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Exemplo de Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">&times;</span>
       </button>
        </div>
        <div class="modal-body">
            This is a modal kkkkkk.
        </div>
    </ng-template>

</div>