<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="assets/img/ngx-bootstrap.svg" class="logo"></a>
            <span class="navbar-brand">Angular + Bootstrap</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li dropdown>
                <a dropdownToggle class="dropdown-toggle" role="button">Dropdown <span class="caret"></span></a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <button type="button" class="btn btn-primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Button with tooltip
    </button>

    <button type="button" class="btn btn-info" (click)="openModal(template)">Create template modal</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">&times;</span>
       </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>

</div>